# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions
redis
redisvl
# requests
azure-storage-blob
# numpy
# torch
transformers
sentence-transformers
flask
pymupdf
langchain
langchain-openai
python-dotenv
python-docx
gunicorn
werkzeug
